{% for i in range(vanity_titles_count) %}
d_CTFA_vanity_{{ i }} = {
	pattern = "pattern_solid.dds"
	color1 = "white"

	colored_emblem = {
		texture = "ce_laurels.dds"
		color1 = "yellow"
	}
}
{% endfor %}
