{% for i in range(vanity_titles_count) %}
d_CTFA_vanity_{{ i }} = {
	color = { 0 0 0 }

	definite_form = yes

	destroy_if_invalid_heir = yes
	no_automatic_claims = yes
	always_follows_primary_heir = yes
}
{% endfor %}
