#
# on_game_start
#

on_game_start = {
	on_actions = { CTFA_on_game_start }
}

CTFA_on_game_start = {
	effect = {
		set_global_variable = {
			name = CTFA_is_loaded
			value = yes
		}

		set_global_variable = {
			name = CTFA_data_version
			value = 1
		}
	}
}

#
# on_game_start_after_lobby
#

on_game_start_after_lobby = {
	on_actions = { CTFA_on_game_start_after_lobby }
}

CTFA_on_game_start_after_lobby = {
	effect = {
		{% for i in range(vanity_titles_count) -%}
		add_to_global_variable_list = { name = CTFA_vanity_titles target = title:d_CTFA_vanity_{{ i }} }
		{% endfor %}
		{% for i in range(vanity_titles_count) -%}
		set_global_variable = { name = CTFA_vanity_title_{{ i }} value = title:d_CTFA_vanity_{{ i }} }
		{% endfor %}
	}
}

